/* 全局公共css文件 */

* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    min-width: 1177px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    /* !important  增加权重  覆盖ele的样式 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
    margin-top: 15px;
}

.el-cascader-menu {
    height: 300px;
}

.el-cascader-panel {
    height: 300px;
}

.el-cascader {
    width: 100%
}

.el-cascader {
    width: 30%;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

.el-checkbox {
    width: 200px;
}

.el-form-item__label {
    width: 100px;
}

.ql-editor {
    min-height: 300px;
}

.el-button {
    margin-top: 10px;
}